---
---

<section
    data-aos="fade-down"
	data-aos-offset="200"
	data-aos-delay="50"
	data-aos-duration="1000"
	data-aos-easing="ease-in-out"
	data-aos-mirror="true"
	data-aos-once="false"
	data-aos-anchor-placement="top-center"
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a computer engineering student with a knack for software development. I have experience
			with database management, mobile app development and web development. I am a life long learner
			who enjoys understanding and learning new stuff. When I am not coding, I am drawing and
			designing logos.
		</p>
	</div>
</section>
